@charset "utf-8";

/*

 * Support: http://www.igomall.xin
 * License: http://www.igomall.xin/license
 * 
 * Style - Password
 * Version: 5.0
 */

/* ---------- Password ---------- */
.password main {
	padding: 10px;
	margin-top: 40px;
}

.password main a {
	line-height: 50px;
}